$content-fontcolor: #333;
$content-bgColor: #f3f5f2;
$cotent-notice-fontcolor: #777;
$search-bgcolor: #f5f5f5;
$search-fontcolor: #b7b7b7;
$medium-fontColor: #666;
$light-fontColor: #999;
$hightlight-fontColor: #e93b3b;
$btn-bgColor: #7543e0;
$bgColor: #fff;
